/*****Main Content*****/
body {
	margin: 0 auto;
	width: 950px; /*98%*/
    background: rgb(45,23,21); /*dark brown*/
    /*background: rgb(128,111,89); /*light brown*/
}
#page {
	width: 930px; /*95%*/
	margin: 0 auto;
	padding: 10px;
	background: #fff;
	border-radius: 8px;
}
#content {
}


/*****Header****/
header{
    margin-bottom: 10px;
}
#header_left {
    width: 750px;
    display: inline-block;
}
#header_right {
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0;
    width: 180px;
    text-align: right;
    font-family: "Playfair Display", Helvetica, serif;
    font-variant: small-caps;
    font-size: 25px;
    color: rgb(45,23,21); /*dark brown*/
}
header a {
    text-decoration: none;
}
h1 {
    font-family: "Playfair Display", Helvetica, serif;
    font-variant: small-caps;
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 35px;
    color: rgb(45,23,21); /*dark brown*/
}
#logo {
    width: 70px;
    float: left;
    margin-right: 5px;
}
#menu_photo {
    margin: 0 auto;
    width: 95%;
    display: block;
}



/*****Navigation*****/
nav {
    margin: 0;
}
#menu {
    margin: 0 auto 10px auto;
    padding: 0;
    width: 906px;
    list-style: none;
    box-shadow: 2px 4px 5px;
}
#menu li {
    display: inline-block;
    position: relative;
}
#menu a {
    color: #FFFFFF;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: small-caps;
}
#first_menu_option {
    background: rgb(0,85,61); /*forest green*/
    margin-right: -2px;
    padding: 10px 23px;
}
#first_menu_option:hover {
    background: rgb(45,23,21); /*dark brown*/
}
.menu_option {
    background: rgb(0,85,61); /*forest green*/
    margin: 0 -3px;
    padding: 10px 23px;
    position: relative;
    display: inline-block;
}
.menu_option a:visited {
    color: #FFFFFF;
}
.menu_option:hover {
    background: rgb(45,23,21); /*dark brown*/
}
#submenu {
    display: none;
    position: absolute;
    width: 150px;
    padding: 0;
    left: -2px;
    box-shadow: 2px 4px 5px;
}
.submenu_option {
    display: block;
    padding: 10px 23px 10px 10px;
    background: rgb(45,23,21); /*dark brown*/
}
.submenu_option:hover {
    background: rgb(0,85,61); /*forest green*/
}



/*****Footer*****/
footer {
    width: 930px; /*95%*/
    margin: 10px auto;
    padding: 5px 10px;
	background: rgb(0,85,61); /*forest green*/
	border-radius: 8px;
}
footer p {
	text-align: center;
	color: #fff;
}
.txt_drop_shadow {
	text-shadow:4px 4px 2px #000;
}
/**Footer Badges**/
#footer_badges {
	width: 330px;
    margin: auto;
}
#angies-list-web-badge {
    background: #FFFFFF;
    width: 150px;
    height: 50px;
}
#fb_link, #yelp_badge, #google_badge {
    display: inline;
    padding-left: 5px;
    height: 50px;
    vertical-align: top;
}
#copyright_info {
    margin-top: 20px;
}


/*****Headings*****/
h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-variant: small-caps;
    font-weight: 300;
    margin: 15px 15px 15px 0;
    background: url("../images/bkgd_dark_wood.jpg") repeat;
    border: groove;
    color: #FFFFFF;
    padding: 4px;
    font-size: 30px;
}
h3 {
    font-family: Helvetica, Arial, sans-serif;
}
h4 {
    font-family: Helvetica, Arial, sans-serif;
}
p {
    font-family: Helvetica, Arial, sans-serif;
}


/*****Misc. Content*****/
#dr_delucia_photo {
    float: left;
    width: 150px;
    margin-right: 10px;
    box-shadow: 3px 3px 4px black;
}
#google_map {
    margin: 0 auto;
    width: 456px;
    height: 300px;
    display: inline-block;
    alignment: right;
    border: 2px rgb(0,85,61) /*forest green*/ solid;
}
#map_directions {
    display: block;
    text-align: right;
}
#contact_us_content {
    display: inline-block;
    width: 465px;
    vertical-align: top;
}
#angies-list-web-badge_testimonials iframe {
    width:100%;
    height: 157px;
    margin: 0;
    display: block;
}
.cosmetic_list {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin: 0;
}
#care_credit {
    width: 150px;
    margin-left: 290px;
}
#cc_logos {
    width: 150px;
    margin-left: 290px;
}
.center_p {
    text-align: center;
}
ul {
    list-style: square;
    font-family: Arial, Helvetica, sans-serif;
}
article h3 {
    background-color: rgb(0,85,61); /*forest green*/
    color: #FFFFFF;
    padding: 5px;
    margin-right: 20px;
}
#slideShow {
    width: 400px;
    border: 5px black;
}
#botox_logo {
    width: 200px;
}
#juv_logo {
    width: 200px;
}
#rad_logo {
    width: 200px;
}
#xeo_logo {
    width: 200px;
}


/*****Link Design*****/
a {
    text-decoration: none;
    color: #000000;
}
a:visited {
    color: #000000;
}


/*****Search Engine Optimization*****/
.seo {
	visibility: hidden;
	font-size: 0;
	float:left;
	overflow: hidden;
	width:800px;
    border: none;
    background: none;
}

/*****Color Palette*****/
/*
rgb(0,85,61); forest green
rgb(128,111,89); light brown/tan
#5e4e3e; brown
rgb(45,23,21); dark brown
*/