/*****Main Content*****/
body {
	margin: 0 auto;
	width: 800px;
	background: #647546;
	/*background: url("../images/presence-ii.png")repeat top;*/
}
#page {
	width: 800px;
	margin: 0 auto;
	padding: 10px;
	background: #E8DEBA;
}
footer {
	margin: 0 auto;
	width: 700px;
}
/*****Headings*****/
h1 {
	font: Helvetica, sans-serif;
	margin: 0 0;
}
h2 {
	font: Arial, Helvetica, sans-serif;
}
h3 {
	font: Arial, Helvetica, sans-serif;
}
h4 {
	font: Arial, Helvetica, sans-serif;
}
/*****Navigation Bar****/

/*animations for the links*/
a:link {
	text-decoration:none;
	color:#546C85;
}
a:visited {
	text-decoration:underline;
	color:#000
}
a:active {
	text-decoration: none;
	color:#1d5c00
}