/*****Main Content*****/
body {
	margin: 0 auto;
	width: 950px;
    background: rgb(45,23,21); /*dark brown*/
}
#page {
	width: 930px;
	margin: 0 auto;
	padding: 10px;
	background: #fff;
	border-radius: 8px;
}
#content {
}


/*****Header****/
header{
    margin-bottom: 5px;
}
#header_left {
    width: 750px;
    display: inline-block;
}
#header_right {
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0;
    width: 180px;
    text-align: right;
    font: bold small-caps 17px "Playfair Display", Helvetica, serif;
    color: rgb(45,23,21); /*dark brown*/
}
#header_bottom {
    font: bold small-caps 16px Helvetica, serif;
    text-align: center;
    width: 740px;
    margin: 4px auto 0 auto;
    padding: 4px 5px;
    display: block;
    color: #ccac00; /*gold*/
}
header a {
    text-decoration: none;
}
h1 {
    font: bold small-caps 30px/35px "Playfair Display", Helvetica, serif;
    margin: 0;
    padding: 0;
    color: rgb(45,23,21); /*dark brown*/
}
#logo {
    width: 70px;
    float: left;
    margin-right: 5px;
}
#menu_photo {
    margin: 0 auto;
    width: 930px;
    display: block;
}



/*****Navigation*****/
nav {
    margin: 0;
    padding: 0;
}
#menu {
    margin: 0 auto 10px auto;
    padding: 0;
    list-style: none;
    width: 923px;
}
#menu li {
    display: inline-block;
    position: relative;
    margin: 0;
}
#menu a {
    color: #FFFFFF;
    font: small-caps 15px Helvetica, Arial, sans-serif; /*15px*/
}
#first_menu_option {
    background: rgb(0,85,61); /*forest green*/
    margin-right: -2px;
    padding: 10px 23px;
    box-shadow: 5px 4px 5px black;
}
#first_menu_option:hover {
    background: rgb(45,23,21); /*dark brown*/
}
.menu_option {
    background: rgb(0,85,61); /*forest green*/
    margin: 0 -3px;
    padding: 10px 21px;
    position: relative;
    display: inline-block;
    box-shadow: 5px 4px 5px black;
}
.menu_option a:visited {
    color: #FFFFFF;
}
.menu_option:hover {
    background: rgb(45,23,21); /*dark brown*/
}
#submenu {
    display: none;
    position: absolute;
    width: 150px;
    padding: 0;
    left: -2px;
    box-shadow: 2px 4px 5px;
}
.submenu_option {
    display: block;
    padding: 10px 23px 10px 10px;
    background: rgb(45,23,21); /*dark brown*/
}
.submenu_option:hover {
    background: rgb(0,85,61); /*forest green*/
}



/*****Footer*****/
footer {
    width: 930px;
    margin: 10px auto;
    padding: 5px 10px;
	background: rgb(0,85,61); /*forest green*/
	border-radius: 8px;
}
footer p {
	text-align: center;
	color: #fff;
}
.txt_drop_shadow {
	text-shadow:4px 4px 2px #000;
}
/**Footer Badges**/
#footer_badges {
	width: 350px;
    margin: auto;
}
#fb_link, #yelp_badge, #google_badge, #angies-list_badge {
    display: inline;
    padding-left: 5px;
    height: 50px;
    vertical-align: top;
}
#copyright_info {
    margin-top: 20px;
}


/*****Headings*****/
h2 {
    font: small-caps 300 30px Helvetica, Arial, sans-serif;
    margin: 10px 0;
    background: rgb(45,23,21); /*dark brown*/
    border: groove;
    color: #FFFFFF;
    padding: 4px;
}
h3 {
    font: small-caps 400 20px Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0 0 5px 0;
    background: rgb(0,85,61); /*forest green*/
    padding: 4px;
    color: #FFFFFF;
}
h4 {
    font-family: Helvetica, Arial, sans-serif;
}
p {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 23px;
}


/*****Misc. Content*****/
ul {
    list-style: square;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
}
ul li {
    margin-bottom: 10px;
}
.center_p {
    text-align: center;
    display: block;
}
.center_list_xlarge {
    width: 500px;
    display: block;
    margin: 0 auto;
    padding: 0;
}
.center_list_large {
    width: 300px;
    display: block;
    margin: 0 auto;
    padding: 0;
}
.center_list_small {
    width: 200px;
    display: block;
    margin: 0 auto;
    padding: 0;
}
#dr_delucia_photo {
    display: inline-block;
    width: 250px;
    margin-right: 10px;
    box-shadow: 3px 3px 4px black;
}
#meet_dr_container_top {
}
#meet_dr_p {
    display: inline-block;
    vertical-align: top;
    width: 660px;
}
#meet_dr_container_bottom {
    display: block;
    width: 900px;
    margin: 20px auto 0 auto;
}
#meet_dr_container_left {
    display: inline-block;
    width: 550px;
}
#meet_dr_container_right {
    display: inline-block;
    width: 300px;
    margin-left: 25px;
    vertical-align: top;
}
#google_map {
    margin: 0 auto;
    width: 456px;
    height: 300px;
    display: inline-block;
    /*border: 2px rgb(0,85,61) /*forest green solid;*/
}
#contact_us_container_left {
    display: inline-block;
    width: 460px;
    margin: 0;
    vertical-align: top;
}
#contact_us_container_right {
    display: inline-block;
    width: 460px;
    margin: 0;
}
.cosmetic_list {
    width: 400px;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.center_container{
    display: block;
    margin: 0 auto 20px auto;
    width: 800px;
}
.cosmetic_top_link {
    text-align: center;
    font-size: small;
    color: #FFFFFF;
}
.cosmetic_top_link a {
    padding: 5px 10px;
    background: rgb(0,85,61); /*forest green*/
    color: #FFFFFF;
}
.cosmetic_top_link a:hover {
    background: rgb(45,23,21); /*dark brown*/
}
.cosmetic_top_link a:visited {
    color: #FFFFFF;
}
#invis_logo, #opal_logo {
    width: 250px;
    float: left;
    margin: 10px 10px 10px 0;
}
#care_credit, #cc_logos {
    width: 150px;
    margin: 0 auto;
    display: block;
}
.reg_tm {
    font-size: 70%;
    vertical-align: text-top;
}
#slideShow {
    width: 600px;
    height: 400px;
    margin: 0 auto;
    /*border: 5px solid rgb(0,85,61); /*forest green*/
}
#slideShow_img {
    width: 600px;
    height: 400px;
}
#slideShow_button_container {
    width: 360px;
    display: block;
    margin: 10px auto 40px auto;
}
.slideShow_button {
    padding: 5px 20px;
    margin: 0 5px;
    background: rgb(0,85,61); /*forest green*/
    color: #FFFFFF;
}
.slideShow_button:hover {
    background: rgb(45,23,21); /*dark brown*/
}
#testimonial_commercial {
    width: 600px;
    display: block;
    margin: 0 auto 50px auto;
}
#angies-list_badge_testimonial {
    width: 150px;
    float: right;
    margin: 0;
}
#services_list {
    list-style: none;
    margin: 0 auto;
    width: 670px;
    display: block;
    padding: 0;
}
#services_list li {
    display: inline-block;
    padding: 0 15px;
}
.dermal_container {
    width: 400px;
    display: inline-block;
    vertical-align: top;
    margin-left: 40px;
}
#botox_logo, #juv_logo, #rad_logo, #xeo_logo {
    width: 200px;
    display: block;
    margin: 0 auto;
}



/*****Link Design*****/
a {
    text-decoration: none;
    color: #000000;
}
a:visited {
    color: #000000;
}

/*****Viewport for Mobile*****/


/*****Search Engine Optimization*****/
.seo {
	visibility: hidden;
	font-size: 0;
	float:left;
	overflow: hidden;
	width:800px;
    border: none;
    background: none;
}

/*****Color Palette*****/
/*
rgb(0,85,61); forest green
rgb(128,111,89); light brown/tan
#5e4e3e; brown
rgb(45,23,21); dark brown
*/

/*****Shorthand Cheats*****/
/*
font: font-style font-variant font-weight font-size/line-height font-family;
*/
